*{
	margin:0px;
	padding:0px;
}

header, .main, footer {
	width:90%;
	max-width:945px;
	margin:20px auto;
}

header nav{
	font-size:14px;
	background:#2874A6;
	overflow:hidden;
	margin:10px 2px;
	box-shadow:0px 10px 0px #154360;
}

header nav ul{
	list-style:none;	
}

header nav ul li{
	float:left;
}

header nav ul li a{
	padding: 30px 20px;
	display:block;
	color:#fff;
	text-decoration:none;
}

header nav ul li a:hover{
	background:#1F618D;
}

footer{
	width:98%;
	background:#2874A6;
	box-shadow:0px 10px 0px #154360;
	color:#fff;
	clear:both;
	padding:10px 0px;
	text-align:center;
}